<div>
    <h1>register</h1>
  <form method='post' action='/auth/register'>
    <input id='email' name='email' placeholder='email' type='text' />
    <input id='pass' name='pass' placeholder='pass' type='text' />
    <input id='firstName' name='firstName' placeholder='firstName' type='text' />
    <input id='lastName' name='lastName' placeholder='lastName' type='text' />
    <input type='submit' value='register!' />
  </form>
  <a href='/auth/login'>ya tengo una cuenta</a>

</div>